/* FONT STACK */
body,
input, select, textarea {
	font-family: 'Source Sans Pro', sans-serif;
	font-size:1.2em;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.1;
}

html {
	background-color: #ddd;
	background-repeat: no-repeat;
	height: 100%;
	min-width:1000px;
}

html.no-cssgradients {
	background-color: #aaa;
}

html * {
	margin: 0;
}

body {
}
a{
	text-decoration:none;
}
#header{
	background:#333;
	height:80px;
	padding:10px 20px;
}
#header h1{
	display:inline;
}
#header h1 a{
	font-size:1.5em;
	font-weight: normal;
	text-decoration:none;
	color:#fff;
}
#header h1 a:hover{
	text-shadow: 0 0 0.03em #fff;
}
#header h2{
    font-size:0.7em;
    color:#ddd;
    font-weight: normal;
}

#header ul{
	list-style: none;
	display:inline-block;
	float:right;
}
#header li{
    display:inline;
    border:1px #666 solid;
    margin-left:4px;
    float:left;
    line-height: 120px;
    text-align:center;
    transition:background 100ms ease-in;
    box-shadow: 0 0 2px #fff;
}
#header li a{
	height:60px;
    width:100px;
    padding:10px;
	color:#fff;
	font-size:0.7em;
	font-weigth:bold;
	display:block;
}
#header li:hover{
	background:#666;
}
#header li.account-icon{
	background:#3B659C url(../images/icons/account.png) center 10px no-repeat;
	background-size:40px 40px;
}
#header li.account-icon:hover{
    background:#275A9C url(../images/icons/account.png) center 10px no-repeat;
    background-size:40px 40px;
}
#header li.search-icon{
    background:#789600 url(../images/icons/search.png) center 10px no-repeat;
    background-size:40px 40px;
}
#header li.search-icon:hover{
    background:#77A500 url(../images/icons/search.png) center 10px no-repeat;
    background-size:40px 40px;
}#header li.administration-icon{
    background:#854C8F url(../images/icons/administration.png) center 10px no-repeat;
    background-size:40px 40px;
}
#header li.administration-icon:hover{
    background:#82398F url(../images/icons/administration.png) center 10px no-repeat;
    background-size:40px 40px;
}#header li.signoff-icon{
    background:#c33 url(../images/icons/close.png) center 10px no-repeat;
    background-size:40px 40px;
}
#header li.signoff-icon:hover{
    background:#CC1B1B url(../images/icons/close.png) center 10px no-repeat;
    background-size:40px 40px;
}
.main{
	padding:20px;
}
.r3widget{
	background:#fff;
	width:300px;
	margin-bottom:20px;
}
.r3listing h1{
    letter-spacing:0.15em;
    height:40px;
    line-height:40px;
    background:#605860;
    color:#fff;
    font-size:0.9em;
    padding:0 10px;
}
.r3widget h1{
	letter-spacing:0.15em;
	height:40px;
	line-height:40px;
	background:#605860;
	color:#fff;
	font-size:0.9em;
	padding:0 10px;
}
.r3widget ul {
    padding: 0;
}
.r3widget ul li{
	list-style:none;
    border-bottom: 1px solid #D4D4D4;
}
.r3widget ul li a{
	padding: 8px 0px 8px 20px;
	height:40px;
	line-height:40px;
	display:block;
	font-size:0.85em;
	font-weight: bold;
	color:#333;
	letter-spacing:0.1em;
	transition:background 100ms ease-in;
}
.r3widget ul li a:hover{
    background:#FF931F;
    color:#fff;
}
span.box{
	float:left;
	width:36px;
	height:36px;
	margin-right: 10px;
	top:1px;
	position:relative;
}
span.green{
    background:#7ED600 url(../images/icons/folder.png) center no-repeat;
}
span.darkgreen{
    background:#789600 url(../images/icons/add.png) center no-repeat;
}
span.blue{
    background:#3FA9F5 url(../images/icons/add.png) center no-repeat;
}
span.darkblue{
	background:#3B659C url(../images/icons/folder.png) center no-repeat;
}
span.purple{
    background:#56267F url(../images/icons/folder.png) center no-repeat;
}
span.red{
    background:#C33 url(../images/icons/add.png) center no-repeat;
}
div.notfound{
	min-height:500px;
	background:#fff url(../images/errors/rat.png) center no-repeat;
}
div.notfound h1{
	text-align:center;
}
div.notfound_footer{
	height:50px;
	background: linear-gradient(to bottom, #fff, #ddd);
}
.r3form{
    width:500px;
}
.r3form table{
    width:100%;
    border-collapse: collapse;
}
.r3form td{
    padding: 0 20px;
    font-size:0.85em;
    font-weight: bold;
    color:#333;
    letter-spacing:0.1em;
    width:360px;
}
.r3form td input{
    width:98%;
    background-color: #eee;
    border-radius: 5px;
    border: 1px solid #eee;
    font-size: 0.975em;
    padding: 5px;
}
.r3form td input.error{
    background-color: #FFF3F3;
    border:#cc0000 1px solid;
}
.r3form td textarea{
    width:98%;
    height:160px;
    background-color: #eee;
    border-radius: 5px;
    border: 1px solid #eee;
    font-size: 0.975em;
    padding: 5px;
}
.r3form td textarea.error{
    background-color: #FFF3F3;
    border:#cc0000 1px solid;
}
.r3form td input:focus{
    background:#FFE7CA;
    border: 1px solid #FFE7CA;
    outline: none;
}
.r3form td input[readonly="readonly"]:focus{
	background-color: #eee;
}
.r3form td textarea[readonly="readonly"]:focus{
    background-color: #eee;
}

.r3form td textarea:focus{
    background:#FFE7CA;
    border: 1px solid #FFE7CA;
    outline: none;
}
.fieldRequired {
    color: red;
}
.r3form td input.button, .r3listing input.button{
	display:block;
	font-weight:bold;
	border-radius: 0px;
    border-style: none;
    text-align:left;
	width:240px;
	cursor:pointer;
	height:40px;
    line-height:40px;
	letter-spacing:0.15em;
    background:#FF931F url(../images/icons/save.png) no-repeat;
    background-position:90% center;
    color:#fff;
    font-size:0.9em;
    padding:0 20px;
    transition:background 100ms ease-in;
}
.r3form td input.button{
	margin-top:10px;
    margin-right: auto;
    margin-left: auto;
}
.r3form td input.button:hover, .r3listing input.button:hover{
	background:#DE7B10 url(../images/icons/save.png) no-repeat;
	background-position:90% center;
}
div.message {
    background: #F3F8FC;
    border-top: 1px solid #006DBA;
    border-bottom: 1px solid #006DBA;
    color: #006DBA;
    margin-top: 10px;
    padding: 5px 20px 5px 20px;
    font-size: 0.7em;
}
div.errors {
    background: #fff3f3;
    border-top: 1px solid #cc0000;
    border-bottom: 1px solid #cc0000;
    color: #cc0000;
    margin-top: 10px;
    padding: 5px 20px 5px 20px;
    font-size: 0.7em;
}
div.errors ul {
    list-style: none;
    padding: 0;
}
div.errors li {
    background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
}
.r3listing{
    background:#fff;
    min-width:600px;
}
.r3listing table{
	width: 100%;
	border-collapse: collapse;
}
.r3listing table th{
	background:#3B659C;
	text-align: left;
}
.r3listing table th:first-child{
	width:12px;
}
.r3listing table th.sorted.desc{
	background:#3B659C url(../images/icons/up.png) no-repeat;
	background-position:right center;
}
.r3listing table th.sorted.asc{
    background:#3B659C url(../images/icons/down.png) no-repeat;
    background-position:right center;
}
.r3listing table td{
    text-align: left;
    font-size:0.8em;
    border-right: 1px solid #D4D4D4;
    padding:4px;
}
.r3listing table td a{
	display: block;
	color:#222;
    width:100%;
}
.r3listing table td:last-child{
    border-right: none;
}
.r3listing table tr.odd{
    background:#F3F4FC;
}
.r3listing table tr:last-child td{
	background:#3B659C;
    padding:0px;
}

.r3listing table th a{
    color:#fff;
    font-size:0.9em;
    display:block;
    width:100%;
    padding: 0px 4px;
}
.r3listing table tbody tr{
    transition:background 100ms ease-in;
}
.r3listing table tbody tr:hover{
	background:#C7D4E7;
}
.table_checkbox{
	padding: 4px 4px 0px 4px;
}
.table_title{
    max-width: 390x;
}
.table_date_created{
    max-width: 100px;
}
.table_last_updated{
    max-width: 100px;
}
.hlayout{
	width:100%;
	min-width:600px;
}
.hlayout ul{
	height: 56px;
}
.hlayout ul li{
	border:none;
}
.hlayout ul li a{
	padding: 8px 20px;
	float:left;
	background:#fff;
	border-right: 1px solid #D4D4D4;
	max-width:100%;
}
div.clear{
	clear:both;
}
