/* FONT STACK */
body,
input, select, textarea {
	font-family: 'Source Sans Pro', sans-serif;
	font-size:1.2em;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.1;
}

html {
	background-color: #ddd;
	background-repeat: no-repeat;
	height: 100%;
	min-width:1000px;
}

html.no-cssgradients {
	background-color: #aaa;
}

html * {
	margin: 0;
}

body {
}
#header{
	background:#333;
	height:80px;
	padding:10px 20px;
}
#header h1{
	display:inline;
}
#header h1 a{
	font-size:1.5em;
	font-weight: normal;
	text-decoration:none;
	color:#fff;
}
#header h1 a:hover{
	text-shadow: 0 0 0.03em #fff;
}
#header h2{
    font-size:0.7em;
    color:#ddd;
    font-weight: normal;
}

#header ul{
	list-style: none;
	display:inline-block;
	float:right;
}
#header li{
    display:inline;
    border:1px #666 solid;
    margin-left:4px;
    float:left;
    line-height: 120px;
    text-align:center;
    transition:background 100ms ease-in;
    box-shadow: 0 0 2px #fff;
}
#header li a{
	height:60px;
    width:100px;
    padding:10px;
	color:#fff;
	text-decoration:none;
	font-size:0.7em;
	font-weigth:bold;
	display:block;
}
#header li:hover{
	background:#666;
}
#header li.account-icon{
	background:#3B659C url(../images/icons/account.png) center 10px no-repeat;
	background-size:40px 40px;
}
#header li.account-icon:hover{
    background:#275A9C url(../images/icons/account.png) center 10px no-repeat;
    background-size:40px 40px;
}
#header li.search-icon{
    background:#789600 url(../images/icons/search.png) center 10px no-repeat;
    background-size:40px 40px;
}
#header li.search-icon:hover{
    background:#77A500 url(../images/icons/search.png) center 10px no-repeat;
    background-size:40px 40px;
}#header li.administration-icon{
    background:#854C8F url(../images/icons/administration.png) center 10px no-repeat;
    background-size:40px 40px;
}
#header li.administration-icon:hover{
    background:#82398F url(../images/icons/administration.png) center 10px no-repeat;
    background-size:40px 40px;
}#header li.signoff-icon{
    background:#c33 url(../images/icons/close.png) center 10px no-repeat;
    background-size:40px 40px;
}
#header li.signoff-icon:hover{
    background:#CC1B1B url(../images/icons/close.png) center 10px no-repeat;
    background-size:40px 40px;
}
.r3widget{
	background:#fff;
	width:300px;
	margin:20px;
}
.r3widget h1{
	letter-spacing:0.15em;
	height:40px;
	line-height:40px;
	background:#605860;
	color:#fff;
	font-size:0.9em;
	padding:0 10px;
}
.r3widget ul {
    padding: 0;
}
.r3widget ul li{
	list-style:none;
    border-bottom: 1px solid #D4D4D4;
}
.r3widget ul li a{
	padding: 8px 0px 8px 20px;
	height:40px;
	line-height:40px;
	display:block;
	font-size:0.85em;
	font-weight: bold;
	color:#333;
	text-decoration:none;
	letter-spacing:0.1em;
	transition:background 100ms ease-in;
}
.r3widget ul li a:hover{
    background:#FF931F;
    color:#fff;
}
span.box{
	float:left;
	width:36px;
	height:36px;
	margin-right: 10px;
	top:1px;
	position:relative;
}
span.green{
    background:#7ED600 url(../images/icons/folder.png) center no-repeat;
}
span.darkgreen{
    background:#789600 url(../images/icons/add.png) center no-repeat;
}
span.blue{
    background:#3FA9F5 url(../images/icons/add.png) center no-repeat;
}
span.darkblue{
	background:#3B659C url(../images/icons/folder.png) center no-repeat;
}
span.purple{
    background:#56267F url(../images/icons/folder.png) center no-repeat;
}
span.red{
    background:#C33 url(../images/icons/add.png) center no-repeat;
}
div.notfound{
	min-height:500px;
	background:#fff url(../images/errors/rat.png) center no-repeat;
}
div.notfound h1{
	text-align:center;
}
div.notfound_footer{
	height:50px;
	background: linear-gradient(to bottom, #fff, #ddd);
}
.r3form{
    width:500px;
}
.r3form table{
    width:100%;
    border-collapse: collapse;
}
.r3form td{
    padding: 0 20px;
    font-size:0.85em;
    font-weight: bold;
    color:#333;
    letter-spacing:0.1em;
    width:360px;
}
.r3form td input{
    width:98%;
    background-color: #eee;
    border-radius: 5px;
    border-color: #FFF;
    border-style: none solid solid none;
    font-size: 0.975em;
    padding: 5px;
}
.r3form td textarea{
    width:98%;
    height:160px;
    background-color: #eee;
    border-radius: 5px;
    border-color: #FFF;
    border-style: none solid solid none;
    font-size: 0.975em;
    padding: 5px;
}
.r3form td input:focus{
    background:#FFE7CA;
    border-color: #FFF;
    outline: none;
}
.r3form td textarea:focus{
    background:#FFE7CA;
    border-color: #FFF;
    outline: none;
}
.fieldRequired {
    color: red;
}
.r3form td input.button{
	display:block;
	margin-top:10px;
	margin-right: auto;
    margin-left: auto;
	font-weight:bold;
	border-radius: 0px;
    border-style: none;
	width:50%;
	text-align:left;
	cursor:pointer;
	height:40px;
    line-height:40px;
	letter-spacing:0.15em;
    background:#FF931F url(../images/icons/save.png) no-repeat;
    background-position:right 20px center;
    color:#fff;
    font-size:0.9em;
    padding:0 20px;
    transition:background 100ms ease-in;
}
.r3form td input.button:hover{
	background:#DE7B10 url(../images/icons/save.png) no-repeat;
	background-position:right 20px center;
}
